html {
    background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/1901404/pub_5d009987fa18d900ac1ff1dc_5d00e217dbeaba00b08b5f2e/scale_1200);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#stars{
    width: 3px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:50%;
    transform-origin: 0 0;
    transform: translateY(-50%);
    border-radius: 50%;
    animation: rotate 270s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.topic1 h3{
   padding: 10px;
}