html {
    background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/1901404/pub_5d009987fa18d900ac1ff1dc_5d00e217dbeaba00b08b5f2e/scale_1200);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#stars{
    width: 3px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:50%;
    transform-origin: 0 0;
    transform: translateY(-50%);
    border-radius: 50%;
    animation: rotate 270s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
*{
    box-sizing: border-box;
}

p{
    text-align: center;
    font-size: 36px;
    color: #fff;
}
.body1{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    width: 100%;
}
@media(max-width: 500px) {
    .body1{
        display: flex;
        flex-wrap: wrap;
    }
}
    
.card{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 330px;
    height: 205px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 100;
}
.card_img{
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    
}
.card::before{
    content: '';
    top:50px;
    border-radius: 20px;
    font-size: 18px;
    color: aliceblue;
    display: block;
    width: 100%;
    height: 90%;
    background-color:#245671;
    position: absolute;
    
}
.card:hover .card_img{
    transform: translateY(-125px);
    transition: 1.5s;
    
}
.card_name{
    position: relative;
    top:-150px;
    font-size: 28px;
    color: aliceblue;
}
.card_price{
    
    position: relative;
    top:-150px;
    font-size: 16px;
    color: aliceblue;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem 4rem 1rem;
    background-color: #202731;
}
.container__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container_gradient{
    backdrop-filter: blur(10px);
    background: linear-gradient(235deg, rgba(255,0,245,1) 0%, rgba(250,133,118,1) 50%, rgba(245,255,0,1) 100%);
}
.container__card {
    flex: 0 1 30%;
    z-index: 1000;
    position: relative;
}

.container__card-1{
    padding: 8rem 1rem;
}
.container__card-1::before,
.container__card-1::after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: 18%;
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    transform: skewX(20deg);
    transition: all 2s;
}
.card__red_gradient::before,
.card__red_gradient::after {
    background: linear-gradient(135deg, rgba(255,0,112,1) 0%, rgba(164,49,17,1) 50%, rgba(255,222,0,1) 100%);
}
.card__blue_gradient::before,
.card__blue_gradient::after {
    background: linear-gradient(-45deg, rgba(0,189,255,1) 0%, rgba(135,89,170,1) 41%, rgba(255,0,95,1) 100%);
}
.card__green_gradient::before,
.card__green_gradient::after {
    background: linear-gradient(-45deg, rgba(121,255,0,1) 0%, rgba(49,255,117,1) 41%, rgba(0,232,255,1) 100%);
}
.container__card-1::after {
    filter: blur(10px);
}
.card-1{
    background-color: rgba(67, 71, 78, 0.7);
    backdrop-filter: blur(10px);
    transition: all 2s;
}
.container__card-1:hover .card-1{
    transition: all 2s;
    transform: scale(1.05);
}
.container__card-1:hover::before,
.container__card-1:hover::after{
    transition: all 2s;
    transform: skewX(0);
}
.square-1{
    position: absolute;
    border-radius: 1rem;
    background-color: rgba(67, 71, 78, 0.4);
    opacity: 0;
    transition: opacity 1s;
    animation: square_header 5s  linear infinite;
}
.square-1:nth-child(1){
    width: 5rem;
    height: 5rem;
    top: 5%;
    left: 0%;
}
.square-1:nth-child(2){
    width: 7rem;
    height: 7rem;
    top: 75%;
    right: 5%;
}
.container__card-1:hover .square-1{
    opacity: 1;
    transition: opacity 1s;
}
@keyframes square_header {
    0%, 100%{
        transform: translateY(-2rem);
    }
    50%{
        transform: translateY(2rem);
        transform: translateX(1rem);
        
    }
}

.cards{
    justify-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
.container__cards:hover .card-2{
    backdrop-filter: blur(10px);
    transform: scale(0.9);
    opacity: 0.3;
}
.container__cards .card-2:hover{
    filter: blur(0);
    transform: scale(1.05);
    opacity: 1;
}

.card-2{
    flex: 0 1 25%;
    overflow: hidden;
    align-content: center;
    background-color: white;
    transition: transform 1.5s;
    /* backdrop-filter: blur(0px); */
}
.card-2 .card__desc{
    color: black;
}
.container__cards-3{
    position: relative;
    margin-top: 30px;
}
.card-3{
    overflow: hidden;
    position: relative;
    flex: 0 1 25%;
    z-index: 15;
    padding: 6rem 1rem;
    border-radius: 0;
    background-color: black;
    transition: all 2s;
}
.card-3:before{
    position: absolute;
    content: '';
    top: -50%;
    left: 25%;
    width: 50%;
    height: 200%;
    z-index: -1;
    background-color: blue;
    filter: blur(10px);
    opacity: 0;
    animation: border_light 15s infinite linear;
}
@keyframes border_light {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.card-3:after{
    position: absolute;
    content: '';
    top: 0.2rem;
    left: 0.2rem;
    width: calc(100% - 0.4rem);
    height: calc(100%  - 0.4rem);
    z-index: -1;
    background: linear-gradient(90deg, rgba(93,51,142,1) 0%, rgba(93,51,142,1) 49.9%, rgba(43,15,75,1) 50.1%, rgba(43,15,75,1) 100%);
}
.card-3:hover{
    transform: scale(1.05);
    filter: blur(0);
    transition: all 1.5s;
}
.container__cards-3:hover .card-3{
    filter: blur(5px);
    opacity: 0.5;
}
.container__cards-3 .card-3:hover{
    filter: blur(0);
    opacity: 1;
}
.container__cards-3 .card-3:hover::before{
    opacity: 1;
}
.title{
    text-align: center;
    font-size: 2rem;
}
.container__cards-3 .card__desc{
    font-size: 20px;
}