@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Philosopher:wght@700&display=swap');
html {
    background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/1901404/pub_5d009987fa18d900ac1ff1dc_5d00e217dbeaba00b08b5f2e/scale_1200);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Philosopher', sans-serif;
  }
main{font-family: 'Philosopher', sans-serif;}
#stars{
    width: 3px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:50%;
    transform-origin: 0 0;
    transform: translateY(-50%);
    border-radius: 50%;
    animation: rotate 270s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
  *,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:visited {
    text-decoration: none;
    color: aliceblue;
}
.top-nav ul li a:hover,
.top-nav ul li a:active{
    color: #043D9E;
    text-decoration: none;
}
.top-nav {
    margin: auto 0;
    font-size: 16px;
    font-family: 'Philosopher', sans-serif;
    height: 100px;
    padding: 2em;
    grid-area: 'header';
}
.menu{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    color: aliceblue;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
.menu-button-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #EEDFA2;
        background-color: black;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
.quote1{
    color: aliceblue;
    font-family: 'Philosopher', sans-serif;
    margin-top: 250px;
    text-align: center;
    font-size: 2rem;
    grid-area: 'quote1';
}
.quote2{
    color: aliceblue;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    grid-area: 'quote2';
    float: right;
    margin-right: 10%;
}
.footer {
    height: 100px;
    color: aliceblue;
    grid-area: 'footer';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    position: absolute;
    bottom: 0;
    margin: auto 35%;
}
.footer p {
    margin: 5px;
}
.footer_a {
    color: aliceblue;
    text-decoration: underline;
    cursor: pointer;
}
.footer_a:hover {
    text-decoration: none;
}
.footer_a:visited {
    color: aliceblue;
}
